/* --- Основные настройки --- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Calibri', sans-serif;  
  /*font-family: 'Pacifico', cursive;*/
}
a{
  text-decoration: none;
}
body{
  /*background: linear-gradient(to bottom right, #49364A, #252D4D);*/
  background-color: #edeff0;
  color: #000;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
}
/* --- общие --- */
.gothic-dark{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #3f444e;
}
.gothic-white{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #fff;
}
.like img, .comments img, .downloads img{
  margin-right: 10px;
}
.like , .comments, .downloads {
  display: flex;
  align-items: center;
  font-size: 14px;
}
/* --- верхняя панель --- */
.panel{
  width: 100%;
  height: 75px;
  background-color: #fff;  
}
.panel-container{
  padding: 0px 30px;
  margin: 0 auto;
  height: 100%;
  max-width: 1194px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.panel-container img{
  filter: grayscale(0);
}
.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 335px;
}
.navigation a{
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  position: relative;
}
.navigation a:hover .tooltip-menu{
  display: block;
}
.tooltip-menu{
  top: 35px;
  position: absolute;
  z-index: 1;
  left: -25px;
  background-color: #d8232a;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 13px;
  display: none;
}
.tooltip-menu::after{
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  border: 5px solid transparent;
  border-bottom: 5px solid #d8232a;
}
#comics{
  background: url(../img/top/comics_gray.png) no-repeat center;
}
#movie{
  background: url(../img/top/movies_gray.png) no-repeat center;
}
#movie{
  position: relative;  
}
.movie-online{
  position: relative;
  top: -1px;
  left: 5px;
  width: 3px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #d8232a;
  display: none;
}
.movie-offline{
  position: relative;
  top: -1px;
  left: 5px;
  width: 3px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #6E6E73;  
}
#video{
  background: url(../img/top/video_gray.png) no-repeat center;
}
#game{
  background: url(../img/top/game_gray.png) no-repeat center;
}
#tv{
  background: url(../img/top/tv_gray.png) no-repeat center;
}
#more{
  background: url(../img/top/more_gray.png) no-repeat center;
}
#comics:hover{
  background: url(../img/top/comics.png) no-repeat center;
}
#movie:hover{
  background: url(../img/top/movies.png) no-repeat center;
}
#video:hover{
  background: url(../img/top/video.png) no-repeat center;
}
#game:hover{
  background: url(../img/top/game.png) no-repeat center;
}
#tv:hover{
  background: url(../img/top/tv.png) no-repeat center;
}
#more:hover{
  background: url(../img/top/more.png) no-repeat center;
}
.navfix-top{
  margin-top: 1px;
}
.navfix-bottom{
 margin-bottom: 4px;
}
.user{
  width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-img{
  position: relative;
}
.user-active{
  position: absolute;
  top: -2px;
  right: -2px;
  width: 9px;
  height: 9px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #d8232a;
  display: none;
}
.user-offline{
  position: absolute;
  top: -2px;
  right: -2px;
  width: 9px;
  height: 9px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #6E6E73;
}
#edit_user{
  background: url(../img/top/edit_profile_gray.png) no-repeat center;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
}
#edit_user:hover{
  background: url(../img/top/edit_profile.png) no-repeat center;
}

/* --- слайдер --- */
.header{
  position: relative;
  width: 100%;
  background-color: #130c04;
}

/* --- */
.dots-vertical{
  position: absolute;
  bottom: 45%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 0px 30px;
}
.dot{  
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}
.dot img, .dot label{
  display: none;
}
.dot-active{
  background-color: transparent;
  display: flex;
  align-items: center;
  width: 130px;
  height: 30px;
  margin-left: -8px;
}
.dot-active img{
  display: block;
  margin-right: 10px;
}
.dot-active label{
  display: block;
}
.dots-vertical span:not(:last-child){
  margin-bottom: 10px;
}
/* --- */

.header-container{
  position: relative;
  margin: 0 auto;
  max-width: 1194px;
}
.slider-container{
  position: relative;
  display: none;
  flex-direction: column;
}
.slider-active{
  display: flex;
}
.img-slider{
  max-width: 100%;
}
.slider-bottom{
  position: absolute;
  display: none;
  bottom: 0;
  width: 100%;
  min-height: 50px;  
  border-top: 1px solid rgba(55, 55, 55, 0.35);  
  background-color: rgba(7, 7, 7, 0.35);
}
.slider-bottom-active{
  display: block;
}
.slider-bottom-container{
  /*position: absolute;
  bottom: 0;*/
  margin: 0 auto;
  max-width: 1194px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  flex-wrap: wrap;
}
.slider-info{
  width: 520px;
  justify-content: space-between;
  align-items: center;
  display: flex;  
}
.slider-info .gothic-white{
  font-size: 14px;
}
.slider-rating{
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: space-between;  
}
.calibri-red{
  font-size: 16px;
  color: #d8232a;
}
.slider-status{
  display: flex;
  width: 220px;
  justify-content: space-between;
  align-items: center;
}
.slider-rating label{
  margin-right: 10px;
}
.rating-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* --- контент --- */
.content{
  width: 100%;
}
.content-container{
  /*padding: 0px 30px;*/
  margin: 0 auto;
  max-width: 1194px;
  display: flex;
  flex-direction: column;
}
.content-title{
  padding: 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.page-name{
  font-size: 17px;
}
.content-tabs a{
  color: #989ca4;
  font-size: 18px;
  font-style: italic;
}
.content-tabs{
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.active-tabs a{
  color: #3f444e;
}
.slesh-tab{
  width: 1px;
  height: 20px;
  background-color: #989ca4;
  transform: rotate(30deg);
}
.search{
  min-width: 200px;
  display: flex;
  flex-wrap: nowrap;
}
.search input{
  width: 170px;
  font-size: 13px;
  color: #9b9ea3;
  font-style: italic;
  padding: 0px 0px 3px 3px;
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid #cacdd0;
}
.search button{
  width: 20px;
  height: 20px;  
  border: none;
  background-color: transparent;
  /*background-color: #edeff0;*/
  cursor: pointer;
  position: relative;
  left: -4px;
  top: 2px;
  padding: 0px 0px 5px 0px;
  border-bottom: 1px solid #cacdd0;
  outline: none;  
}

.container-movies{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  padding-left: 20px;
  /*padding: 0 30px;*/
}
.movies{
  position: relative;
  width: 100%;
  height: 190px;
  border-radius: 5px;
  /*margin-bottom: 30px;*/
}
.movies:hover .movies-info{
  background-color: rgba(63, 68 ,73, 0.4);
  cursor: pointer;
}
/*.downloads:active{
  transform: scale(1.1);
}*/
/*.movies .movies-info:active{
  background-color: red;
}*/
.movies .movies-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  border-radius: 5px;  
}
.movies-info{
  position: absolute;
  border-radius: 5px; 
  top: 0;
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;  
  background-color: rgba(63, 68 ,73, 0.5);
  justify-content: space-between;
}
.movies-top{
  display: flex;
  justify-content: space-between;
}
.downloads{
  margin-top: -5px;
}
.movies-name{
  font-size: 14px;
  /*line-height: 30px;*/
  letter-spacing: 0.5px;
}
.movie-container{
  max-width: 210px;
  min-height: 190px;
  margin: 10px;
}
.movies-detail{
  position: relative;
  height: 165px;
  width: 100%;
  display: none;
  background-color: #fff;
  padding: 10px; 
}
.active-detail{
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  font-size: 14px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.movies-rating{
  display: flex;
  align-items: center;
}
.movies-rating label{
  margin-right: 5px;
}
.movies-rating a{
  margin-right: 2px;
}
.movies-rating .rating-container{
  justify-content: flex-start;
}
.detail-play{
  background-color: #3f444e;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 5px;
}

/* --- мобилка --- */
.burger-button{
  display: none;
}
.mobile-menu{
  display: none;
}
#burger_button{
  display: none;
}
#burger_button_close{
  display: none;
}

/* --- адаптивность --- */

@media screen and (min-width: 700px){
    
}

@media screen and (max-width: 700px){
  /* --- верхняя панель --- */
  .navigation{
    display: none;
  }
  .panel{
    position: fixed;
    top: 0;
    z-index: 2;
  }
  .panel-container{
    flex-wrap: nowrap;
  }
  .user{
    display: none;
  }
  #burger_button{
    display: flex;
  }
  .burger-button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15px;
    cursor: pointer;
  }
  .burger-button span{
    border-radius: 10px;
    width: 20px;
    height: 2px;
    background-color: #3f444e;
  }
  .mobile-menu{
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    width: 100%;
    min-height: 100px;
    padding: 15px;    
  }
  .mobile-menu a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: right !important;
    width: 100%;
    height: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #3f444e;
    padding: 20px;
    border-bottom: 2px solid transparent;
  }
  .mobile-menu a:hover{
    border-bottom: 2px solid #3f444e;
  }
  /* --- слайдер --- */
  .header{
    display: none;
  }
  /* --- контент --- */
  .content{
    margin-top: 75px;
  }
  .content-title{
    flex-direction: column;
  }
  .content-title div{
    padding: 5px 0px;
  }
  .container-movies {
    justify-content: center;
    padding: 0;
  }



}

@media screen and (max-width: 428px){    
  /* --- контент --- */
  .content-tabs{
    flex-direction: column;
  }
  .slesh-tab{
    display: none;
  }
  .page-name{
    text-align: center;
  }
  .search{
    width: 100%;
    justify-content: center;
  }
}






/* --- slider --- */
/*.slider{
  margin-top: -121px;
  width: 100%;
  background: url(../img/) no-repeat top center;
}
.slider-container{
  display: none;
}
.slider-active{
  display: block;
}*/


/*.menu-social img:hover{
  filter: grayscale(0.5);
}
.navigation a:not(:last-child){
  margin-right: 40px;
}
.menu-close span:last-child{  
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  position: absolute;
  top: 15px;
}
.scroll-hidden{
  overflow-y: hidden;
}*/